.chat-container {
  position: relative;
  width: 100%;
  height: 80vh;
}

.chat-input-bar {
  /* position: absolute; */
  /* bottom: 0; */
  width: 80%;
  margin-top: 40px;
  margin-left: 10%;
  margin-right: 5%;
  margin-bottom: 2%;
}
